<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>voteMeDaddy</title>
  </head>
  <body>
    <h1>voteMeDaddy</h1>

    <form action="vote">
      Voter address : <input type="text" name="voterAddress" /> Candidate
      address : <input type="text" name="candidateAddress" /> Voter key:
      <input type="text" name="voterKey" />
      <input type="submit" />
    </form>
  </body>
</html>
